<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="ELLAK">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.c3p0.acquireIncrement">1</property>
        <property name="hibernate.c3p0.hibernate.c3p0.idle_test_period">60</property>
        <property name="hibernate.c3p0.maxStatements">10</property>
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.min_size">0</property>
        <property name="hibernate.c3p0.timeout">120</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/ellak?useUnicode=true&amp;characterEncoding=UTF-8&amp;?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <property name="hibernate.validator.autoregister_listeners">false</property>
        <mapping resource="gr/scriptum/domain/ProjectTask.hbm.xml" />
        <mapping resource="gr/scriptum/domain/ApplicationParameter.hbm.xml" />
        <mapping resource="gr/scriptum/domain/Project.hbm.xml" />
        <mapping resource="gr/scriptum/domain/ProtocolDocument.hbm.xml" />
        <mapping resource="gr/scriptum/domain/TaskMessage.hbm.xml" />
        <mapping resource="gr/scriptum/domain/ProjectUser.hbm.xml" />
        <mapping resource="gr/scriptum/domain/TaskState.hbm.xml" />
        <mapping resource="gr/scriptum/domain/Resource.hbm.xml" />
        <mapping resource="gr/scriptum/domain/TaskResult.hbm.xml" />
        <mapping resource="gr/scriptum/domain/Contact.hbm.xml" />
        <mapping resource="gr/scriptum/domain/Company.hbm.xml" />
        <mapping resource="gr/scriptum/domain/IncomingProtocol.hbm.xml" />
        <mapping resource="gr/scriptum/domain/DocumentType.hbm.xml" />
        <mapping resource="gr/scriptum/domain/TaskPriority.hbm.xml" />
        <mapping resource="gr/scriptum/domain/Users.hbm.xml" />
        <mapping resource="gr/scriptum/domain/DistributionMethod.hbm.xml" />
        <mapping resource="gr/scriptum/domain/Role.hbm.xml" />
        <mapping resource="gr/scriptum/domain/OutgoingProtocol.hbm.xml" />
        <mapping resource="gr/scriptum/domain/ApplicationLog.hbm.xml" />
        <mapping resource="gr/scriptum/domain/OutgoingRecipient.hbm.xml" />
        <mapping resource="gr/scriptum/domain/TaskType.hbm.xml" />
        <mapping resource="gr/scriptum/domain/TaskDocument.hbm.xml" />
        <mapping resource="gr/scriptum/domain/CompanyType.hbm.xml" />
        <mapping resource="gr/scriptum/domain/ProtocolBook.hbm.xml" />
        <mapping resource="gr/scriptum/domain/DiavgeiaDecisionType.hbm.xml" />
    </session-factory>
</hibernate-configuration>
